<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Share</title>
</head>
<body>
    <% if(locals.fileLink) { %>
        <div class="download-link">
            <a href="<%=locals.fileLink%>"><%=locals.fileLink%></a>
        </div>
        <% } %>
        
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" name="file" id="file" required/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Share</button>
    </form>
</body>
</html>